@font-face {
    font-family: "Ad Lib W07 Rg";
    src: url("https://db.onlinewebfonts.com/t/27cdae08bbdbc3a00d979d58d7f7c0f7.eot");
    src: url("https://db.onlinewebfonts.com/t/27cdae08bbdbc3a00d979d58d7f7c0f7.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/27cdae08bbdbc3a00d979d58d7f7c0f7.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/27cdae08bbdbc3a00d979d58d7f7c0f7.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/27cdae08bbdbc3a00d979d58d7f7c0f7.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/27cdae08bbdbc3a00d979d58d7f7c0f7.svg#Ad Lib W07 Rg")format("svg");
} 

.AddItem {
    /* text-align: center; */
    min-height: 100vh;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  