@font-face {
    font-family: "Ad Lib W07 Rg";
    src: url("https://db.onlinewebfonts.com/t/27cdae08bbdbc3a00d979d58d7f7c0f7.eot");
    src: url("https://db.onlinewebfonts.com/t/27cdae08bbdbc3a00d979d58d7f7c0f7.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/27cdae08bbdbc3a00d979d58d7f7c0f7.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/27cdae08bbdbc3a00d979d58d7f7c0f7.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/27cdae08bbdbc3a00d979d58d7f7c0f7.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/27cdae08bbdbc3a00d979d58d7f7c0f7.svg#Ad Lib W07 Rg")format("svg");
} 

* {
    box-sizing: border-box;
}

.footerWrapper {
    background-color: black;
    display: flex;
    width: 100%;
    bottom: 0px;
    padding: 0.5vmin;
    /* position: fixed; */
}
ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
li {
    color: aliceblue;
    font-family: "Ad Lib W07 Rg";
    text-shadow: -0.2vw -0.1vw gray;
    font-size: 2.0vw;
}