@font-face {
    font-family: "Ad Lib W07 Rg";
    src: url("https://db.onlinewebfonts.com/t/27cdae08bbdbc3a00d979d58d7f7c0f7.eot");
    src: url("https://db.onlinewebfonts.com/t/27cdae08bbdbc3a00d979d58d7f7c0f7.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/27cdae08bbdbc3a00d979d58d7f7c0f7.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/27cdae08bbdbc3a00d979d58d7f7c0f7.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/27cdae08bbdbc3a00d979d58d7f7c0f7.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/27cdae08bbdbc3a00d979d58d7f7c0f7.svg#Ad Lib W07 Rg")format("svg");
} 

* {
    box-sizing: border-box;
}

.headerWrapper {
    background-color: black;
    display: flex;
    padding: 0.5vmin;
    top: 0px;
    width: 100%;
    height: 8.75vh;
    /* position: fixed; */
}

.headerLeft {
    /* background-color: beige; */
    flex: 5%;
    text-align: left;
}

.headerRight {
    /* background-color: pink; */
    flex: 50%;
    text-align: center;
}
.headerLabel {
    color: aliceblue;
    font-family: "Ad Lib W07 Rg";
    text-shadow: -0.2vw -0.1vw gray;
    font-size: 2.0vw;
    margin: 4%;
}